.App {
  text-align: center;

}





.container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  background: purple;
}
.left-col {
  width: 60%;
  background: green;
} 
.right-col {
  width: 40%;
  margin-top: 10vh;
}
.img-box {
  
  width: 400px;
  height: 245px;
  background: green;
  margin: -20px auto 0 auto;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXAW_nU-OLQ0vYr5a6Qho1x6tm-eyTdrqKSABdxYCzr4lXDR2m');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
